html {
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
background-color: rgba(200,200,200);
}

header {
 display: flex;
 width: 100%;
 height: auto;
 background-color: black;
 color: white;
 position: relative;
 left: 0%;
 font-size: 3rem;
 transition: left 800ms linear 200ms, color 800ms ease-in 200ms, background-color 800ms ease-in 200ms;  
}

header:hover {
 left: 50%;
 background-color: white;
 color: black;
}

article {
 display: flex;
 width: 100%;
 height: auto;
 background-color: white;
 color: black;
}

article div.button {
 display: flex;
 width: 30%;
 height: auto;
 background-color: yellow;
 color: black;
 font-size: 1.5rem;
 justify-content: center;
 align-items: center;
 border: 3px solid black;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 transition: background-color 800ms ease-in 200ms, font-size 800ms ease-in 200ms;
}

 article div.button:hover {
 background-color: yellowgreen;
 font-size: 1.7rem;
}

article div.response {
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 5px solid black;
}

figure {
 display: flex;
 width: 100%;
 height: auto;
 background-color: white;
 color: black;
 font-size: 1.3rem;
}

figure a {
  color: blue;
  font-size: 1.5rem;
  transition: color 800ms ease-in 200ms, font-size 800ms ease-in 200ms;
}


 figure a:hover {
  color: red;
  font-size: 1.7rem;
}

 